@tailwind base;
@tailwind components;
@tailwind utilities;

/* Noto Sans Regular */
@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/NotoSans-Regular.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* Noto Sans Bold */
@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/NotoSans-Bold.woff2") format('woff2');
  font-weight: 700;
  font-style: normal;
}

@layer base {
  body {
    font-family: "Noto Sans", sans-serif;
  }
}

@layer components {
  .dinobg {
    background-image: url('/img/background.png');
    @apply bg-cover h-screen p-12;
  }

  .gray-input {
    @apply block text-gray-400 border-gray-400 border-b-2 my-4 w-full
    focus:outline-none focus:border-yellow-300;
  }

  .btn-pr {
    @apply text-xs bg-yellow-300 w-28 p-2;
  }

  .btn-sec {
    @apply text-xs bg-gray-400 w-28 p-2;
  }
}